extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var headerTitle = 'БЛОГ'
  - var headerSubtitle = 'Статьи, которые я написал'
  - var triangleColor = "#faf8f0"

block scripts
  script(src='blog.bundle.js')

block content
  +header(headerTitle, headerSubtitle)
  section.section.blog
    +triangles(`${triangleColor}`, `${triangleColor}`, 1)
    .blog__left
      a(href="#").blog__swipe-link
      .blog__left-content
        - 
          var articles = [
            ['Статья 1', '12 июня 2018'],
            ['Большая статья 2', '13 июня 2018'],
            ['Очень очень очень очень большая статья 3', '14 июня 2018'],
            ['Статья 4', '15 июня 2018']
          ];
          //- console.log("11111111111");
        ul.titles__list
          li.titles__item
          each article in articles
            li.titles__item
              .articles__title.articles__title--sidebar #{article[0]}

    .blog__right
      .blog__right-content
        ul.articles__list
          each article in articles
            li.articles__item
              .articles__title.articles__title--content #{article[0]}
              .articles__date #{article[1]}
              .articles__content
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quia temporibus eum vel odio ullam laborum consectetur, provident suscipit accusamus enim dolor voluptates a natus, tempora voluptatibus, illo voluptatum rerum?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quia temporibus eum vel odio ullam laborum consectetur, provident suscipit accusamus enim dolor voluptates a natus, tempora voluptatibus, illo voluptatum rerum?



