mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin socials(socials, modClass)
  ul.socials(class=`${modClass}`)
    each item in socials
      li.socials__item
        a(href=`${item[0]}`).socials__link
          +icon(item[1], 'socials__link-icon')